.message {
    font-weight: 600;
    color: blue;
}

/* ======================================================================== */ 

 /*                      NOT RELATED TO THE TTUTORIAL                        */

/* ======================================================================== */

*{
	
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;

}


*,
*::before,
*::after {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;
}


:root {
  --step--2: clamp(0.69rem, calc(0.58rem + 0.60vw), 1.00rem);
  --step--1: clamp(0.83rem, calc(0.67rem + 0.81vw), 1.25rem);
  --step-0: clamp(1.00rem, calc(0.78rem + 1.10vw), 1.56rem);
  --step-1: clamp(1.20rem, calc(0.91rem + 1.47vw), 1.95rem);
  --step-2: clamp(1.44rem, calc(1.05rem + 1.95vw), 2.44rem);
  --step-3: clamp(1.73rem, calc(1.21rem + 2.58vw), 3.05rem);
  --step-4: clamp(2.07rem, calc(1.39rem + 3.40vw), 3.82rem);
  --step-5: clamp(2.49rem, calc(1.60rem + 4.45vw), 4.77rem);
	
	/* Font style */
	
	--ff-primary: -apple-system, BlinkMacSystemFont, "Sergoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	
	/* Color style */
	
	/*
	--color-primary:#c51350;
	--color-secondary:#ff9a3c;
	--color-body:#333;
	--color-bg: #006600;
	--color-primary-dark:#007f67;
	--color-error:#cc3333;
	--color-success:#4bb544;
	--color-link:#cdcdcc;
	--color-border:darkgrey;
	--bs:#ffa857;
	*/
	
	--color-primary: #0575E6;
	--color-secondary: #6dd5ed;
	--color-primary-light:#8dc6ff;
	--color-primary-dark:#021B79;
	--color-error:#cc3333;
	--color-success:#4bb544;
	--color-link:#606470;
	--color-text:#5f6769;
	--color-header-dark:#393e46;
	--color-background:#f5f9ee;
	--color-border-sc:#ececec;
	--color-border-focus:#69c2ff;
	--color-border:#d3d6db;
	--bs:#ffa857;
	--color-button:#f8e7e7;
	--color-percentage:#5f6769;
	--color-header-light:#9ba6a5;
	--color-border-focus:#a9d7f6;
	--color-input-background:#f5f9ee;
	--gradient: linear-gradient(135deg var(--color-primary), var(--color-secondary));
	
	
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
  list-style: none;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height:  100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
}


/* A elements that don't have a class get default styles */
a:not([class]) {
 text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* ======================================================================== */ 

 /*                      RELATED TO THE TTUTORIAL                        */

/* ======================================================================== */



body {
	position: relative;
	background: #626262;
}

button {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

:is(.sidebar, .sidebar_inner) {
	position: absolute;
	top: 0;
	left: 0;
}

.sidebar {
	width: 72px;
	height: 100%;
	background: #404041;
	overflow: hidden;
	transition: width .4s;
}

body.open .sidebar {
	width: 260px;
}

.sidebar_inner {
	width: 300px;
	height: inherit;
	/*height: 100%;*/
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
}


.sidebar_header {
	display: flex;
	align-items: center;
	height: 72px;
	background: rgba(0, 0, 0, .1);
	padding: 0 1.125rem 0 0;
}

.sidebar_burger {
	width: 72px;
	height: 72px;
	display: grid;
	place-items: center;
	color: #f9f9f9;
	transition: .3s;
}

body.open .sidebar_burger {
	background: url(images/icon-close.svg) no-repeat center center;
}

.sidebar_logo {
	height: 50px;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}

body.open .sidebar_logo {
	opacity: 1;
	visibility: visible;
}

.sidebar_nav {
	padding-bottom: 1rem;
	flex: 1 1 auto;
}

.sidebar button {
	display: flex;
	align-items: center;
	width: auto;
	height: 60px;
	grid-gap: 2rem;
	font-size: var(--step-0);
	font-weight: 200;
	line-height: 1;
	padding: 0 1.5rem;
}

.sidebar button > i {
	width: 24px;
	height: 24px;
}

.sidebar button > span {
	color: #f9f9f9;
	opacity: 0;
	visibility: hidden;
	transition: .2s;
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

body.open .sidebar button > span {
	opacity: 1;
	visibility: visible;
	animation: appear .2s both;
}

.copy {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	word-spacing: 1px;
	font-weight: 300;
}

.copy p {
	color: #f9f9f9;
	font-size: var(--step-0);
}


.copy a {
	color: #ff0000;
	font-size: var(--step--0);
}

.nerdpaw {
	color: #ff0000

}

.paragraphmark {
	width: 50px;
	height: 50px;
	position: relative;
	left: 50%;
}

.contain {
	background-color: #eee;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
  }
  
div.form {
	background-color: #eee;
  }
.contact-wrapper {
	margin: auto 0;
  }
  
.submit-btn {
	float: left;
  }
.reset-btn {
	float: right;
  }
  
.form-headline:after {
	content: "";
	display: block;
	width: 10%;
	padding-top: 10px;
	border-bottom: 3px solid #ec1c24;
  }
  
.highlight-text {
	color: #ec1c24;
  }
  
.hightlight-contact-info {
	font-weight: 700;
	font-size: 22px;
	line-height: 1.5;
  }
  
.highlight-text-grey {
	font-weight: 500;
  }
  
.email-info {
	  margin-top: 20px;
  }
  
::-webkit-input-placeholder { /* Chrome */
	font-family: 'Roboto', sans-serif;
  }
  
.required-input {
	color: black;
  }
@media (min-width: 600px) {
	.contain {
	  padding: 0;
	}
  }
  
h3,
ul {
	margin: 0;
  }
  
h3 {
	margin-bottom: 1rem;
  }
  

  
.form-input,
  textarea {
	width: 100%;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
  }
  
.wrapper > * {
	padding: 1em;
  }
@media (min-width: 700px) {
	.wrapper {
	  display: grid;
	  grid-template-columns: 2fr 1fr;
	}
	.wrapper > * {
	  padding: 2em 2em;
	}
  }
  
ul {
	list-style: none;
	padding: 0;
  }
  
.contacts {
	color: #212d31;
  }
  
.form {
	background: #fff;
  }
  
form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
  }
form label {
	display: block;
  }
form p {
	margin: 0;
  }
  
.full-width {
	grid-column: 1 / 3;
  }
  
.error {
	color: #ec1c24;
  }
   